.header{
  background-color: #800000;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 10vh;
  width: 205vh;
  box-shadow: 0px 2px 4px rgba(100,100,100,0.5);
}
.header-title{
position: absolute;
left: 80vh;
}
.sidebar{
position: absolute;
}

.sidebar-container {
width: 250px; 
background-color: #f4f4f4; 
z-index: 3;
}

.app-container {
display: flex;
flex-direction: column;
}

.content {
padding: 20px; 
}

.full-calendar-container {
  width: 200vh; 
  height: 100vh; 
  position: absolute;
  align-items: center; 
  justify-content: center; 
  left: 20px;
  top: 100px;
  margin-bottom: 100px;
}