

.sidebar.open {
    transform: translate(0);
}

.close-btn {
    background-color: #ffffff;
    z-index: 100;
    position: fixed;
    top: 7vh; /* Adjust if needed */
    left: 30vh; /* Adjust if needed */
}

.toggle-button {
    font-size: 24px;
    cursor: pointer;
}

.sidebar-title {
    background-color: #800000;
    height: 100%;
    width: 100%; /* Ensure it takes full width */
    color: white; /* Set text color if needed */
    position: absolute;
}


.sidebar-body{
    background-color: #ffffff;
    height: 100%;
    margin-bottom: 1000px;
}
.li{
    list-style-type: none;
    text-decoration: none;
}
/* Sidebar.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  .sidebar-toggle-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
  }
  
  .sidebar.active {
    width: 35vh;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #ffffff;
    color: white;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close-btn {
    background: 1px solid black;
    border: none;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    z-index: 100;
    background-color: #800000;
    top: 35px;
  }
  .sbt{
    background-color: #800000;
    height: 94px;
    position: relative;
    width: 37vh;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .sidebar-link{
    position: absolute;
  }
  .sidebar-link a{
    text-decoration: none;
  }
.home{
    height: 5vh;
    width: 35vh;
    position: fixed;
    top: 100px;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #800000;
}
.calendar{
    height: 5vh;
    width: 35vh;
    position: fixed;
    top: 150px;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #800000;
}
.events{
    height: 5vh;
    width: 35vh;
    position: fixed;
    top: 200px;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #800000;
}
.settings{
    height: 5vh;
    width: 35vh;
    position: fixed;
    top: 250px;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #800000;
}
.visit{
    height: 5vh;
    width: 35vh;
    position: fixed;
    top: 300px;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #800000;
}
#sidebar-hover:hover {
    background-color: #800000; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
  }